body {
  margin: 0;
}

.top-wrapper {
  padding: 5px 0 0 0;
  background-size: cover;
}

.jumbotron {
  padding: 4rem 1rem;
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.mb-2 {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
.bt-footer {
  margin-top: 50px;
}

.table,
th,
td {
  border: 1px solid black;
}
